bin/
certifi/
certifi-2020.4.5.1.dist-info/
chardet/
chardet-3.0.4.dist-info/
future/
future-0.18.2-py3.8.egg-info/
idna/
idna-2.9.dist-info/
libfuturize/
libpasteurize/
line_bot_sdk-1.16.0.dist-info/
linebot/
past/
requests/
requests-2.23.0.dist-info/
urllib3/
urllib3-1.25.9.dist-info/